/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: black;
  text-align: center;
}

h1 {
  font-family: "futura";
  color: white;
}
p {
  color: white;

}
a {
  color: white;
  border: 4px solid blue;
  padding: 6px;
  
}


